:root {
    --dark-color: #230338;
    --light-color: #c70d3a;
    --orange-color: #ed5107;
    --super-gold: #fff1c1;
}
.color-lightblue{
    color: lightblue;
}
.color-blue{
    color: blue;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.top-container{
    background: linear-gradient(to right top, var(--super-gold), var(--light-color));
    height: 550px;
}
.top-wrapper{
    width: 600px;
    height: 550px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    font-size: 20px;
    color: var(--super-gold);
}
.cloud1{
    position: absolute;
    left: 13%;
    top: 17%;
}
.cloud2{
    position: absolute;
    right: 20%;
    top: 33%;
}
.mountain{
    position: absolute;
    bottom: 0;
    left: 0;
}
.avatar{
    width: 75px;
    padding: 25px;
}
.middle-wrapper{
    width: 1000px;
    margin: 2rem auto;
    text-align: center;
}
.skills1{
    margin-top: 55px;
    text-align: left;
}
.skills2{
    margin-top: 55px;
    text-align: right;
}
.skills1 img{
    margin-right: 25px;
    float: left;
}
.skills2 img{
    margin-left: 25px;
    float: right;
}
.text-skills{
    font-family: "Indie Flower", cursive;
    font-size: 30px;
}
.middle-wrapper img{
    width: 120px;
}

.contact-me{
    text-align: center;
    margin-top: 200px;
}

.btn{
    box-shadow: 0px 10px 14px -7px #276873;
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color:#599bb3;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    padding:13px 32px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    margin-top: 50px;
    margin-bottom: 150px;
}
.btn:hover {
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color:#408c99;
}

.bottom-container{
    background: linear-gradient(to left bottom, var(--super-gold), var(--light-color));
    padding: 2rem 0;
    text-align: center;
}

.bottom-container a{
    display: inline-block;
    text-decoration: none;
    margin: 10px;
    color: var(--super-gold);
    text-transform: uppercase;
    font-size:20px;
    font-weight:bold;
}
.bottom-container a:hover{
    transform: translateY(-4px);
}

.font-change{
    font-family: "Indie Flower", cursive;
    font-size: 60px;
}
.font-change2{
    font-family: "Indie Flower", cursive;
    font-size: 20px;
}
.underline{
    text-decoration: underline;
}
.profile-text {
    margin: 50px;
}
.h3-text{
    margin: 50px;
    font-family: "Indie Flower", cursive;
    font-size: 60px;
}
.big-size{
    font-family: "Indie Flower", cursive;
    font-size: 50px;
}