:root {
    --dark-color: #230338;
    --light-color: #c70d3a;
    --orange-color: #ed5107;
    --super-gold: #fff1c1;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.top-container{
    background: linear-gradient(to right, var(--dark-color), var(--light-color));
    height: 600px;
}
.top-wrapper{
    width: 600px;
    height: 600px;
    margin: 0 auto;
    border: 2px solid white;
    position: relative;
    text-align: center;
    font-size: 20px;
    color: var(--super-gold);
}
.cloud1{
    position: absolute;
    left: 13%;
    top: 17%;
}
.cloud2{
    position: absolute;
    right: 20%;
    top: 33%;
}
.mountain{
    position: absolute;
    bottom: 0;
    left: 0;
}
.profile{
    width: 800px;
    margin: 2rem auto;
    text-align: center;
}
.skills{
    width: 810px;
    margin: 2rem auto;
}
.skills2{
    margin-top: 55px;
    text-align: right;
}
.skills1 img{
    margin-right: 25px;
    float: left;
}
.skills2 img{
    margin-left: 25px;
    float: right;
}
.skills img{
    width: 120px;
}
.avatar{
    width: 100px;
}

.font-change{
    font-family: "Indie Flower", cursive;
}
.underline{
    text-decoration: underline;
}